@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}